<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <!-- 권한 선언 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 설정 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/tickets_icon"
        android:label="모아모아"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:targetApi="m">

        <activity android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name=".MyTicketList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" /> <!-- app link indexing 기능 추천 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- cleartext HTTP와 같은 cleartext 네트워크 트래픽을 사용할지 여부를 나타내는 flag -->

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>

        <!-- A child of the main activity -->
        <activity android:name=".CameraView"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>